//
   Created by Yu Yiwei on 2016/5/23.
extends includes/layout
block append pagescript
    script(src ="./javascripts/refresh.js")
block content
    .story-details
        .head-background
            img.bg(src="/images/icons/recommend-2.jpg")
            .story-info
                img.cover(src="/images/icons/recommend-2.jpg")
                .word
                    .title #{story_title}
                    .info
                        label 关注：#{focus}
                        label 分支：#{branch}
                        label 赞：#{zan}
                    .author
                        label 作者：#{author}
                    .focus-btn
                        img(src="images/icons/focus-btn.png")
            .back-btn
                img(src="./images/icons/white-back.png",onclick="history.go(-1)")
        .branch-list
            .recommend-branch
                .title 推荐分支
                .branch(onclick="javascript:window.location.href='/story_content1'") 主分支
                .clearfix
        .story-summary
            .title 简介
            .summary-content #{summary}
        .comments-container
            .title
                label 评论
            .comments
                .comments-content
                    .content
                        .head-img
                            img(src="/images/icons/customer.png" )
                        .info
                            .user-info(contentEditable=true) 输入评论
                            .comments-info(contentEditable=true) 评论内容
                            .clearfix

        include includes/bottom-menu